#heading {
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
  }

 #service1 {
    color: lightsalmon;
 }
 #service2 {
    color: lightgreen;
 }
 #service3 {
    color: lightblue;
 }
 #service4 {
    color: lemonchiffon;
 }
 #service5 {
    color: gray;
 }
