<div class="page">
<section>
  <!-- Carousel -->
  <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" >  
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
    </div>    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="width:100%" src="../../assets/Images/slider.jpg" alt="img1">
        <div class="carousel-caption">
          <h1>Online Quran Classes <br> For Kids & Adults</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img style="width:100%; " src="../../assets/Images/sliders.jpg" alt="img2">
        <div class="carousel-caption">
          <h1>Online Quran Classes <br> For Kids & Adults</h1>
        </div> 
      </div>
      <div class="carousel-item">
        <img style="width:100%; " src="../../assets/Images/sliderss.jpg" alt="img3">
        <div class="carousel-caption">
          <h1>Online Quran Classes <br> For Kids & Adults</h1>
        </div>  
      </div>
    </div>
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>  
</section>

<section>
  <div class="container" style="text-align: center; margin-top: 50px; color: white;">
    <p id="heading" style="margin-bottom: 30px;">Learn Quran Online</p>
    <p style="font-size: larger;">QuranInn is an independent / non-partisan virtual institution / firm / establishment / body that aims at providing / imparting islamic education to seekers across the globe. Our teacher with years of experience and noble accolades, deliver teachings of Quran and islam to all age groups without gender discrimination. We offer online / virtual courses / classes / live interactive sessions for students / learners who find it difficult to join / take in-person classes. Our virtual school / institute brings efficient Quran learning / Islam learning right to your home and the students have the freedom to juggle their careers and school without being tied to a fixed schedule / with scheduling flexibility. With a comfortable learning environment and more individual attention, we offer multiple courses for aspirants to choose from.</p><br>
    <a href="#forms" class="btn btn-success" role="button">Get a Free Trial of<br>Online Quran Class</a>
    <p id="heading" style="margin-top: 90px; margin-bottom: 80px;">Our Services</p>
    <div class="row">
      <div class="col-md-3">
        <h4 id="service1" style="margin-bottom: -10px;">Basic Quran Reading / Recitation</h4><hr>
        <p id="service5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="col-md-3">
        <h4 id="service2" style="margin-bottom: 35px;">Recitation with Tajweed</h4><hr>
        <p id="service5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="col-md-3">
        <h4 id="service3" style="margin-bottom: 35px;">Quran Memorization</h4><hr>
        <p id="service5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="col-md-3">
        <h4 id="service4" style="margin-bottom: 35px;">Quran Translation</h4><hr>
        <p id="service5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div><hr>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4 id="service3" style="margin-bottom: -10px;">Islamic Studies / Concepts</h4><hr>
        <p id="service5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="col-md-3">
        <h4 id="service4" style="margin-bottom: 35px;">Quran Courses for Kids</h4><hr>
        <p id="service5">Teaching at a young age is like carving on stone. This means that when you learn something at a young age, you will probably remember it for life. especially Quran for kids course.</p>
      </div>
      <div class="col-md-3">
        <h4 id="service1" style="margin-bottom: 35px;">Hadith Classes</h4><hr>
        <p id="service5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="col-md-3">
        <h4 id="service2" style="margin-bottom: 35px;">Flexible Timings</h4><hr>
        <p id="service5">The courses are scheduled according to the convenience of the students, so that learning the Quran can easily be adjusted according to their daily routine without any hassle.</p>
      </div><hr>
    </div>
  </div>
</section>

<section id="forms">
  <div class="container">
    <div class="col-md-5">
    <p id="heading" style=" color: white;">2 Free Trial <br> Online Classes</p><br><br>
        <form class="form-horizontal" action="mailto:quraninn@gmail.com" method="post" enctype="text/plain">
          <div class="form-group form-group-lg">
            <label class="control-label" for="fname"></label>
            <input type="fname" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
            <label class="control-label" for="lname"></label>
            <input type="lname" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
            <label for="gender"></label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Gender</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Other</option>
            </select>
            <label class="control-label" for="age"></label>
            <input type="age" class="form-control" id="age" placeholder="Enter Age" name="age">
            <label for="gender"></label>
            <select class="form-select" aria-label="Default select example">
              <option selected>Course</option>
              <option value="1">Basic Quran Reading / Recitation</option>
              <option value="2">Quran Memorization</option>
              <option value="3">Hadith Classes</option>
            </select>
            <label class="control-label" for="phone"></label>
            <input type="phone" class="form-control" id="phone" placeholder="Enter Phone" name="phone">
            <label class="control-label" for="Email"></label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email">
            <br><input class="btn btn-warning" style="padding-right: 20px; float: right;" type="submit" value="Submit">
          </div>
        </form>
  </div>
</div>
</section>
</div>