.page{
   font-family: Cinzel;
}
#bg{
   background-image: url('../../assets/Images/bgservice.jpeg');
   background-position: center;
}
.carousel-caption {
    position: absolute;
    top:40px;
 }

 .btn-success:hover{
   background-color: goldenrod;
   border-color: goldenrod;
}
 .btn-warning:hover{
    background-color: green;
    border-color: green;
 }
 .carousel-caption,h1 {
     font-size: 40px;
    font-weight: bold;
    font-style: oblique;
 }
 .row {
    margin: 30px;
 }

 #forms {
    background-image: url("../../assets/Images/bg_home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -160px;
    padding-top: 200px;
    padding-bottom: 280px;
    margin-bottom: -160px;
 }
hr{
   color: gray;
   height: 2px;
   opacity: 0.8;
}
 #heading {
    font-size: 50px;
    font-weight: bold;
 }
 
 input {
    padding: 18px;
 }

 select {
    padding: 18px;
 }

